@media only screen and (min-width: 32.5em) {
    header {
        margin: .5em;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
    header h1{
        font-size: 2em;
        
    }

    nav ul{
        display: flex;
        justify-content: center;
        margin-left: 2vw;
    }
    nav ul li a {
        border: none;
    }

    footer{
        font-size: 1.4em;
    }


    /*class selectors*/
    .title{

        font-size: medium;
    }
    .img1{
        max-width: 10rem;
    }
    .card-img{
        max-width: 250px;
        border-radius: 1.5em;
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .msg{
        grid-column: 2/4;
        grid-row: 1/2;
    }
    .content {
        font-size: 1.5em;
    }
    /*id selector*/
    nav button{display: none;}
    #java {
        font-size: medium;
    }
    #date{
        margin-top: -3rem;
        padding-right: 20px;
        justify-self: end;
        font-size: small;
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #msg4{
        font-size: medium;
        text-align: center;
        grid-row: 2/3;
        grid-column: 2/4
    }
    /* Discover page */
    /* id selectors */
    #dizcover_pictures{
        text-align: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: rgb(145, 142, 142);
        row-gap: 10px;
    }
    
    /* class selectors */
    .msg1{
        padding-right: 4%;
        font-size: 2em;
    }

    /* Join */
    form {
        text-align: center;
      }
     
     
     
      input, textarea {
        width: 400px;
      }


}

@media only screen and (min-width: 65.5em) {
    nav ul li a {
        padding: .5rem, 1rem;
    }
    /*class selectors*/
    .msg{
        grid-row: 1/3;
    }
    .img1{
        max-width: 15rem;
    }
    
    .content {
        font-size: 2.5em;
    }
    /*id selectors*/
    #date{
        font-size: medium;
        padding-top: 1rem;
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #select{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    #event{
        grid-column: 1/2;
        grid-row: 1;
    }
    #spotlight{
        grid-column: 4/5;
        grid-row: 1/3;
    }
    #hero{
        grid-column: 2/4;
        grid-row: 1/3;
    }
    #weather{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #java {
        font-size: large;
    }
   
   
   
   
   
}