@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html{
    font-family: "Roboto Condensed";
}
header {
    background-color: rgb(42, 114, 196);
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}
header h1{
    font-size: small;
    text-align: center;
    
}

nav {
    background-color: rgb(49, 196, 141);
    
}
nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;

}
nav ul{
    list-style-type: none;
    padding: 0%;
    margin: 0;
    
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,.5);
}
nav ul li.active a{
    background-color: rgba(0,0,0,.2);
    color: #fff;
}
nav ul li a:hover{
    background-color: rgba(0,0,0,.3);
}

nav ul{display: none;}
nav ul.open{display: block;}

#hamburger_button span:nth-child(1){display: block;}
#hamburger_button span:nth-child(2){display: none;}

footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: .5em;
    text-align: center;
    background-color: rgb(49, 196, 141);
}

/*class selectors*/
.title{
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color:rgb(145, 142, 142);
    margin: 0;
}
.img1{
    padding-top: 5px;
    padding-left: 5px;
    max-width: 3rem;
    float: left;
}
.card-img {
    max-width: 200px;
    padding: .5em;
}
.img{
    max-width: 75px;
}
.content {
    margin: 0;
    font-size: .75em;
    text-align: center;
    font-weight: 50;
    border: solid #333;
    background-color: rgb(145, 142, 142);
}
.banner-image{
    justify-self: center;
}

/*id selectors*/
#select{
    row-gap: 5px;
}
#java {
    font-size: small;
}
#date{
    font-size: small;
    text-align: center;
}
#info{
    font-size: small;
    text-align: center;
}
#msg4 {
    font-size: small;
    text-align: center;
}

/* Discover page */

/* class selectors */


/* id selectors */
#dizcover_pictures{
    background-color: rgb(145, 142, 142);
    text-align: center;
}
#img:hover{
    background-color: #555;
}