@media only screen and (min-width: 65.5em){
   
    #content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    #header{
        font-size: xx-large;
    }
    #white_space{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    footer {
        font-size: x-large;
    }
   
    
   
}