@media only screen and (min-width: 32.5em) {

    #header{
        font-size: x-large;
        padding-top: 10px;
        border-radius: 10px; 
    }

    #content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    h2{
        font-weight: 200;
        padding: 10px;
        font-size: large;
    }
    .link{
        margin-top: 10px;
        font-size: large;
    }
    #white_space{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    footer {
        font-size: large;
        border-radius: 10px;
    }
}










    
